In [100]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import yaml
from pprint import pprint
from collections import ChainMap

In [101]:
df = pd.read_stata('sec_4abcde.dta',convert_categoricals=False,columns=['hhcode','province','region','psu','itc','v1','v2','v3','v4'],iterator=True)

In [102]:
valubl_dict=df.value_labels()

In [103]:
#valubl_dict

In [104]:
val_list = list(valubl_dict['itc'].values())

In [105]:
drop_lst=[1000,1001,1002,1003,1004,1005,2000,2001,2002,2003,4000,5000,5001,5002,5003,5004,5005,5006,5007,5008,
          5009,5010,5011,6000,6001,6002,6003,6004]

In [106]:
df_ex = pd.read_stata('sec_4abcde.dta',convert_categoricals=False,columns=['hhcode','province','region','psu','itc','v1','v2','v3','v4'])

In [107]:
mask = df_ex['itc'].isin(drop_lst)
df_ex = df_ex[~mask]
df_ex.head()

          hhcode  province  region       psu    itc      v1  v2  v3  v4
25  1.102010e+09         1       2  11020101  11104  2205.0 NaN NaN NaN
26  1.102010e+09         1       2  11020101  11112  1000.0 NaN NaN NaN
27  1.102010e+09         1       2  11020101  11115   100.0 NaN NaN NaN
28  1.102010e+09         1       2  11020101  11117   110.0 NaN NaN NaN
29  1.102010e+09         1       2  11020101  11201   600.0 NaN NaN NaN

In [108]:
#def get_key(val):
#   for key, value in my_dict.items():
#         if val == value:
#                return key
# 
#    return "key doesn't exist"
# 
# Driver Code
# 
#my_dict = df.value_labels()['itc']
# 
#print(get_key('wheat'))

In [109]:
#micro_level_dict={011201:'beef fresh',011202:'beef frozen',011203:'mutton fresh',
 #                 011204:'mutton frozen',011205:'chicken farm broiler (live)',011206:'chicken meat fresh',011207:chicken meat fresh
#
 #   
#}

In [110]:
#print(list(valubl_dict.keys())[list(valubl_dict.values()).index(11101)])

In [111]:
#df.drop(df[df['itc'] == [drop_lst]].index, inplace = True)

In [112]:
#df.apply(lambda row: row[df['itc'].isin(drop_lst)])
#df.dropna()

In [113]:
val_list[2]

'wheat flour avg .qlty(loose)'

In [114]:
pg_ttl_dict={1001:[11201,11202,11203, 11204, 11205, 11206, 11207, 11208,11301,11302,11303,
                   11401, 11402, 11403, 11404, 11405, 11406, 11407, 11408, 11409,11601,11602,11603,11604],
             1002:[11605, 11606, 11607, 11608, 11609, 11610, 11611, 11612, 11613, 11614, 11615, 11616,11701, 11702, 11703,
                   11704, 11705, 11706, 11707, 11708, 11709, 11710, 11711, 11712, 11713, 11714, 11715, 11716],
             1003:[11717,11718,11719,11720,11721,11722,11801, 11802, 11803, 11804, 11805, 11806, 11807, 11808, 11809, 11810,
                  11901, 11902, 11903, 11904, 11905, 11906, 11907, 11908, 11909],
             1004:[11910,11911,11912,11913,12201,12202,12203,12204,12205,12206,111101, 111102, 111103, 111104, 111105, 111106,
                   111107, 111108, 111109, 111110, 111111, 111112, 111113, 111114,111115],
             1005:[111116, 111117, 111118, 111119, 111120, 111121, 111122, 111123, 111124, 111125, 111126, 111127, 111128,
                   111129, 111130, 111131, 111132, 111133, 111134, 111135, 111136, 111137, 111138, 111139,111140],
             2001:[11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109, 11110, 11111, 11112, 11113, 11114,
                   11115, 11116, 11117, 11118, 11119, 11120, 11121, 11122,11123,11124],
             2002:[11125,11126,11127,11128,11129,11501,11502,11503,11504,11505,11506,11811,11812,11916,11917,11918,11919,
                  12101,12102,12103,12104,56101,56102,56103,56104,56105],
             2003:[56106, 56107, 56108, 56109, 56110, 56111, 56112, 56113, 56114, 56115,121101, 121102, 121201,121202,121301,
                   121302, 121303, 121304, 121305, 121306, 121307, 121308, 121309, 121310, 121311, 121312, 121313, 121314,
                   121315, 121316, 121317, 121318, 121319, 121320],
             4000:[22001, 22002, 22003, 22004, 22005, 22006, 22007, 22008,44101,44201,45101,45102,45201,45202,45301,45401,45402,
                  45403,45404,45405,45406],
             5001:[31101,31102,31103,31201,31202,31203,31204,31205,31401,31402,32101,32102,32201,41101,42101,42102,42103,42104,
                  43101,43102,43103,43201,43202,43203],
             5002:[56201,56202,56203,56204,54101,54102,54103,72201,72202,72301,72302,72303,72401,72402,73101,73201,73202,73301,
                  73501,73502,81001,83001,83002,83003],
             5003:[61101,61102,62101,62102,62103,62104,93101,93102,93103,94101,94102,94103,95201,95202,95203,101001,101002,101003,
                  95101,95102],
             5004:[112001,112002,112003,53101,53102,123101,123107,123201,123202,123203,123205,123207,127001,127002,127003,127004,127005,127006,127007,
                  127008,127009],
             6000:[52201,52202,52203,54104,54105,54106,54107,51101,51102,51103,51104,51105,51106,53103,53104,53105,53106,55101,55201,
                  71101,82101,82102,91101,91102,91103,123103,123102]
             
    
}

In [115]:
'''cat3_dict={11200:[11201, 11202, 11203, 11204, 11205, 11206, 11207, 11208],
           11300:[11301, 11302, 11303],
           11400:[11401, 11402, 11403, 11404, 11405, 11406, 11407, 11408, 11409],
           11600:[11601,11602,11603,11604,11605, 11606, 11607, 11608, 11609, 11610, 11611, 11612, 11613, 11614,11615,11616],
           11700:[11701, 11702, 11703, 11704, 11705, 11706, 11707, 11708, 11709, 11710, 11711, 11712, 11713, 11714, 11715,
                  11716,11717,11718,11719,11720,11721,11722],
           11800:[11801, 11802, 11803, 11804, 11805, 11806, 11807, 11808, 11809, 11810],
           11900:[11901, 11902, 11903, 11904, 11905, 11906, 11907, 11908, 11909,11910,11911,11912,11913],
           12200:[12201, 12202, 12203, 12204, 12205, 12206],
           111100:[111101, 111102, 111103, 111104, 111105, 111106, 111107, 111108, 111109, 111110, 111111, 111112,
                   111113, 111114, 111115,111116, 111117, 111118, 111119, 111120, 111121, 111122, 111123,111124, 111125,
                   111126, 111127, 111128, 111129, 111130, 111131, 111132, 111133, 111134, 111135, 111136, 111137, 111138,
                   111139, 111140],
           11100:[11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109, 11110, 11111, 11112, 11113, 11114, 11115,
                  11116, 11117, 11118, 11119, 11120, 11121, 11122, 11123, 11124, 11125, 11126, 11127, 11128, 11129],
           11500:[11501,11502,11503,11504,11505,11506],
           11800:[11811,11812],
           11900:[11916,11917,11918,11919],
           12100:[12101,12102,12103,12104],
           45200:[45201,45202],        
           22000:[22001, 22002, 22003, 22004, 22005, 22006, 22007, 22008],
           56200:[56201,56202,56203,56204]                             
    
}'''

'cat3_dict={11200:[11201, 11202, 11203, 11204, 11205, 11206, 11207, 11208],\n           11300:[11301, 11302, 11303],\n           11400:[11401, 11402, 11403, 11404, 11405, 11406, 11407, 11408, 11409],\n           11600:[11601,11602,11603,11604,11605, 11606, 11607, 11608, 11609, 11610, 11611, 11612, 11613, 11614,11615,11616],\n           11700:[11701, 11702, 11703, 11704, 11705, 11706, 11707, 11708, 11709, 11710, 11711, 11712, 11713, 11714, 11715,\n                  11716,11717,11718,11719,11720,11721,11722],\n           11800:[11801, 11802, 11803, 11804, 11805, 11806, 11807, 11808, 11809, 11810],\n           11900:[11901, 11902, 11903, 11904, 11905, 11906, 11907, 11908, 11909,11910,11911,11912,11913],\n           12200:[12201, 12202, 12203, 12204, 12205, 12206],\n           111100:[111101, 111102, 111103, 111104, 111105, 111106, 111107, 111108, 111109, 111110, 111111, 111112,\n                   111113, 111114, 111115,111116, 111117, 111118, 111119, 111120, 111121, 111122, 111123,111124, 111125,\n                   111126, 111127, 111128, 111129, 111130, 111131, 111132, 111133, 111134, 111135, 111136, 111137, 111138,\n                   111139, 111140],\n           11100:[11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109, 11110, 11111, 11112, 11113, 11114, 11115,\n                  11116, 11117, 11118, 11119, 11120, 11121, 11122, 11123, 11124, 11125, 11126, 11127, 11128, 11129],\n           11500:[11501,11502,11503,11504,11505,11506],\n           11800:[11811,11812],\n           11900:[11916,11917,11918,11919],\n           12100:[12101,12102,12103,12104],\n           45200:[45201,45202],        \n           22000:[22001, 22002, 22003, 22004, 22005, 22006, 22007, 22008],\n           56200:[56201,56202,56203,56204]                             \n    \n}'

In [116]:
#cat2_dict={56000:[56101, 56102, 56103, 56104, 56105, 56106, 56107, 56108, 56109, 56110, 56111, 56112, 56113, 
#                  56114, 56115,56200],
#           121000:[121101,12102,121201,121202,121301,121302, 121303, 121304, 121305, 121306, 121307, 121308, 
#                   121309, 121310, 121311, 121312, 121313, 121314,
#                   121315, 121316, 121317, 121318, 121319, 121320],
#           45000:[45101,45102,45201,45202,45301,45401,45402, 45403, 45404, 45405, 45406],
#           31000:[31101,31102,31103,31201,31202,31203,31204,31205,31401,31402],
#           32000:[32101,32102,32201],
#           43000:[43101,43102,43103,43201,43202,43203],
#           54000:[54101,54102,54103,54104,54105,54106,54107],
#          73000:[73101,73201,73202,73301,73501,73502],
#          95000:[95101,95102,95201,95202,95203],
#          52000:[52201,52202,52203],
 #          51000:[51101,51102,51103,51104,51105,51106],
 #          53000:[53103,53104,53105,53106,53101,53102],
 #          71000:[71101],
 #          72000:[72201,72202,72301,72302,72303,72401,72402],
 #          82000:[82101,82102],
 #          91000:[91101,91102,91103],
 ##          111000:[111100],
 #          11000:[11200,11300,11400,11600,11700,11800,11900,11100],
 #          12000:[12100,12200]
 #          
    
#}

In [117]:
'''cat2_dict={56000:[56101, 56102, 56103, 56104, 56105, 56106, 56107, 56108, 56109, 56110, 56111, 56112, 56113, 
                  56114, 56115,56201,56202,56203,56204],
           121000:[121101,12102,121201,121202,121301,121302, 121303, 121304, 121305, 121306, 121307, 121308, 
                   121309, 121310, 121311, 121312, 121313, 121314,
                   121315, 121316, 121317, 121318, 121319, 121320],
           45000:[45101,45102,45201,45202,45301,45401,45402, 45403, 45404, 45405, 45406],
           31000:[31101,31102,31103,31201,31202,31203,31204,31205,31401,31402,31106,31212,31214,31215,31217,31218,31225,31407,31408],
           32000:[32101,32102,32201],
           43000:[43101,43102,43103,43201,43202,43203],
           54000:[54101,54102,54103,54104,54105,54106,54107],
           73000:[73101,73201,73202,73301,73501,73502],
           95000:[95101,95102,95201,95202,95203],
           52000:[52201,52202,52203],
           51000:[51101,51102,51103,51104,51105,51106],
           53000:[53103,53104,53105,53106,53101,53102],
           71000:[71101],
           72000:[72201,72202,72301,72302,72303,72401,72402],
           82000:[82101,82102],
           91000:[91101,91102,91103],
           111000:[111101, 111102, 111103, 111104, 111105, 111106, 111107, 111108, 111109, 111110, 111111, 111112,
                   111113, 111114, 111115,111116, 111117, 111118, 111119, 111120, 111121, 111122, 111123,111124, 111125,
                   111126, 111127, 111128, 111129, 111130, 111131, 111132, 111133, 111134, 111135, 111136, 111137, 111138,
                   111139, 111140],
           11000:[11201, 11202, 11203, 11204, 11205, 11206, 11207, 11208,11301, 11302, 11303,11401, 11402, 11403, 11404, 
                  11405, 11406, 11407, 11408, 11409,11601,11602,11603,11604,11605, 11606, 11607, 11608, 11609, 11610, 
                  11611, 11612, 11613, 11614,11615,11616,11701, 11702, 11703, 11704, 11705, 11706, 11707, 11708, 11709, 
                  11710, 11711, 11712, 11713, 11714, 11715,11716,11717,11718,11719,11720,11721,11722,11801, 11802, 11803, 
                  11804, 11805, 11806, 11807, 11808, 11809, 11810,11901, 11902, 11903, 11904, 11905, 11906, 11907, 11908, 
                  11909,11910,11911,11912,11913,11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109, 11110, 11111, 
                  11112, 11113, 11114, 11115,11116, 11117, 11118, 11119, 11120, 11121, 11122, 11123, 11124, 11125, 11126, 
                  11127, 11128, 11129,11501,11502,11503,11504,11505,11506,11811,11812,11916,11917,11918,11919],
           12000:[12201, 12202, 12203, 12204, 12205, 12206,12101,12102,12103,12104]
           
    
}'''

'cat2_dict={56000:[56101, 56102, 56103, 56104, 56105, 56106, 56107, 56108, 56109, 56110, 56111, 56112, 56113, \n                  56114, 56115,56201,56202,56203,56204],\n           121000:[121101,12102,121201,121202,121301,121302, 121303, 121304, 121305, 121306, 121307, 121308, \n                   121309, 121310, 121311, 121312, 121313, 121314,\n                   121315, 121316, 121317, 121318, 121319, 121320],\n           45000:[45101,45102,45201,45202,45301,45401,45402, 45403, 45404, 45405, 45406],\n           31000:[31101,31102,31103,31201,31202,31203,31204,31205,31401,31402,31106,31212,31214,31215,31217,31218,31225,31407,31408],\n           32000:[32101,32102,32201],\n           43000:[43101,43102,43103,43201,43202,43203],\n           54000:[54101,54102,54103,54104,54105,54106,54107],\n           73000:[73101,73201,73202,73301,73501,73502],\n           95000:[95101,95102,95201,95202,95203],\n           52000:[52201,52202,52203],\n           51000:[51101,51102,51103,51104,51105,51106],\n           53000:[53103,53104,53105,53106,53101,53102],\n           71000:[71101],\n           72000:[72201,72202,72301,72302,72303,72401,72402],\n           82000:[82101,82102],\n           91000:[91101,91102,91103],\n           111000:[111101, 111102, 111103, 111104, 111105, 111106, 111107, 111108, 111109, 111110, 111111, 111112,\n                   111113, 111114, 111115,111116, 111117, 111118, 111119, 111120, 111121, 111122, 111123,111124, 111125,\n                   111126, 111127, 111128, 111129, 111130, 111131, 111132, 111133, 111134, 111135, 111136, 111137, 111138,\n                   111139, 111140],\n           11000:[11201, 11202, 11203, 11204, 11205, 11206, 11207, 11208,11301, 11302, 11303,11401, 11402, 11403, 11404, \n                  11405, 11406, 11407, 11408, 11409,11601,11602,11603,11604,11605, 11606, 11607, 11608, 11609, 11610, \n                  11611, 11612, 11613, 11614,11615,11616,11701, 11702, 11703, 11704, 11705, 11706, 11707, 11708, 11709, \n                  11710, 11711, 11712, 11713, 11714, 11715,11716,11717,11718,11719,11720,11721,11722,11801, 11802, 11803, \n                  11804, 11805, 11806, 11807, 11808, 11809, 11810,11901, 11902, 11903, 11904, 11905, 11906, 11907, 11908, \n                  11909,11910,11911,11912,11913,11101, 11102, 11103, 11104, 11105, 11106, 11107, 11108, 11109, 11110, 11111, \n                  11112, 11113, 11114, 11115,11116, 11117, 11118, 11119, 11120, 11121, 11122, 11123, 11124, 11125, 11126, \n                  11127, 11128, 11129,11501,11502,11503,11504,11505,11506,11811,11812,11916,11917,11918,11919],\n           12000:[12201, 12202, 12203, 12204, 12205, 12206,12101,12102,12103,12104]\n           \n    \n}'

In [118]:
#sum(map(len, Category_dict.values()))
#len(Category_dict[120000])

In [119]:
#cat1_dict={10000:[11000,12000],
#           110000:[111000,112001,112002,112003],
#           50000:[56000,54000,52000,51000,53000],
#           120000:[121000,123101,123201,123202,123203,127001,127002,127003,127004,127005,127006,127007,127008,127009,123103,123102,123107,123205,123207],
#           20000:[22001,22002,22003,22004,22005,22006,22007,22008],
#           40000:[44101,44201,45000,41101,42101,42102,42103,42104,43000],
#           30000:[31000,32000],
#           70000:[72000,73000,71000],
#           80000:[81001,83001,83002,83003,82000],
#           60000:[61101,61102,62101,62103,62104,],
#           90000:[93101,93102,93103,94101,94102,94103,95000,91000]
 #                 
#}

In [120]:
'''Category_dict={10000:[11201, 11202, 11203, 11204, 11205, 11206, 11207, 11208,11301, 11302, 11303,11401, 11402, 
               11403, 11404, 11405, 11406, 11407, 11408, 11409,11601,11602,11603,11604, 11605,11606,11607,11608,
               11609,11610,11611,11612,11613,11614,   11615,   11616,11701, 11702,11703,11704,11705,11706,11707,
               11708,11709,11710,11711,11712,11713,11714,11715,11716,11717,11718,11719,11720,11721,11722,11801, 11802, 11803, 
               11804, 11805, 11806, 11807, 11808, 11809, 11810,11901, 11902, 11903, 11904, 11905, 11906, 11907, 11908, 
               11909,11910,11911,11912,11913,11101,11102,11103,11104,11105,11106,11107,11108,11109,11110,11111,11112,11113,
               11114,11115,11116,11117,11118,11119,11120,11121,11122,11123,11124,11125,11126,11127,11128,11129,12101, 
               12102, 12103, 12104,12201, 12202, 12203, 12204, 12205, 12206,11501,11502,11503,11504,11505,11506,11811,11812,11916,
                     11917,11918,11919],
               110000:[111101,   111102,   111103,   111104,   111105,   111106,   111107,   111108,   111109,
                       111110,   111111,   111112,   111113,   111114,   111115,   111116,   111117,   111118,
                       111119,   111120,   111121,   111122,   111123,   111124,   111125,   111126,   111127,
                       111128,   111129,   111130,   111131,   111132,   111133,   111134,   111135,   111136,
                       111137,   111138,   111139,   111140, 112001, 112002, 112003],
               30000:[31101,31106, 31102, 31103, 31201, 31202, 31203, 31204, 31205, 31401, 31402,32101, 32102, 32201],
               40000:[44101,44201,45101, 45102, 45201, 45202, 45301, 45401, 45402, 45403, 45404, 45405, 45406,41101,
                      42101, 42102, 42103, 42104,43101, 43102, 43103, 43201, 43202, 43203],
               50000:[56101,  56102,  56103,  56104,  56105,  56106,  56107,  56108,  56109,  56110,  56111,  56112,
                      56113,  56114,  56115,56201, 56202, 56203, 56204,54101, 54102, 54103, 54104, 54105, 54106, 54107,
                      52201, 52202, 52203,51101, 51102, 51103, 51104, 51105, 51106,53103, 53104, 53105, 53106, 53101, 53102,55101,55201],
               60000:[61101, 61102, 62101, 62103, 62104],
               70000:[72201, 72202, 72301, 72302, 72303, 72401, 72402,73101, 73201, 73202, 73301, 73501, 73502,71101],
               80000:[81001, 83001, 83002, 83003, 82101, 82102],
               90000:[93101, 93102, 93103, 94101, 94102, 94103,95101, 95102, 95201, 95202, 95203,91101, 91102, 91103],
               
               120000:[121101,  121102,  121201,  121202,  121301,  121302,  121303,  121304,  121305,  121306,  121307,
                       121308,  121309,  121310,  121311,  121312,  121313,  121314,  121315,  121316,  121317,  121318,
                       121319,  121320, 123101, 123201, 123202, 123203, 127001, 127002, 127003, 127004, 127005, 127006,
                       127007, 127008, 127009, 123103, 123102, 123107, 123205, 123207],
               
               20000:[22001,22002,22003,22004,22005,22006,22007,22008], 
               100000:[101001,101002,101003]
}'''

'Category_dict={10000:[11201, 11202, 11203, 11204, 11205, 11206, 11207, 11208,11301, 11302, 11303,11401, 11402, \n               11403, 11404, 11405, 11406, 11407, 11408, 11409,11601,11602,11603,11604, 11605,11606,11607,11608,\n               11609,11610,11611,11612,11613,11614,   11615,   11616,11701, 11702,11703,11704,11705,11706,11707,\n               11708,11709,11710,11711,11712,11713,11714,11715,11716,11717,11718,11719,11720,11721,11722,11801, 11802, 11803, \n               11804, 11805, 11806, 11807, 11808, 11809, 11810,11901, 11902, 11903, 11904, 11905, 11906, 11907, 11908, \n               11909,11910,11911,11912,11913,11101,11102,11103,11104,11105,11106,11107,11108,11109,11110,11111,11112,11113,\n               11114,11115,11116,11117,11118,11119,11120,11121,11122,11123,11124,11125,11126,11127,11128,11129,12101, \n               12102, 12103, 12104,12201, 12202, 12203, 12204, 12205, 12206,11501,11502,11503,11504,11505,11506,11811,11812,11916,\n                     11917,11918,11919],\n               110000:[111101,   111102,   111103,   111104,   111105,   111106,   111107,   111108,   111109,\n                       111110,   111111,   111112,   111113,   111114,   111115,   111116,   111117,   111118,\n                       111119,   111120,   111121,   111122,   111123,   111124,   111125,   111126,   111127,\n                       111128,   111129,   111130,   111131,   111132,   111133,   111134,   111135,   111136,\n                       111137,   111138,   111139,   111140, 112001, 112002, 112003],\n               30000:[31101,31106, 31102, 31103, 31201, 31202, 31203, 31204, 31205, 31401, 31402,32101, 32102, 32201],\n               40000:[44101,44201,45101, 45102, 45201, 45202, 45301, 45401, 45402, 45403, 45404, 45405, 45406,41101,\n                      42101, 42102, 42103, 42104,43101, 43102, 43103, 43201, 43202, 43203],\n               50000:[56101,  56102,  56103,  56104,  56105,  56106,  56107,  56108,  56109,  56110,  56111,  56112,\n                      56113,  56114,  56115,56201, 56202, 56203, 56204,54101, 54102, 54103, 54104, 54105, 54106, 54107,\n                      52201, 52202, 52203,51101, 51102, 51103, 51104, 51105, 51106,53103, 53104, 53105, 53106, 53101, 53102,55101,55201],\n               60000:[61101, 61102, 62101, 62103, 62104],\n               70000:[72201, 72202, 72301, 72302, 72303, 72401, 72402,73101, 73201, 73202, 73301, 73501, 73502,71101],\n               80000:[81001, 83001, 83002, 83003, 82101, 82102],\n               90000:[93101, 93102, 93103, 94101, 94102, 94103,95101, 95102, 95201, 95202, 95203,91101, 91102, 91103],\n               \n               120000:[121101,  121102,  121201,  121202,  121301,  121302,  121303,  121304,  121305,  121306,  121307,\n                       121308,  121309,  121310,  121311,  121312,  121313,  121314,  121315,  121316,  121317,  121318,\n                       121319,  121320, 123101, 123201, 123202, 123203, 127001, 127002, 127003, 127004, 127005, 127006,\n                       127007, 127008, 127009, 123103, 123102, 123107, 123205, 123207],\n               \n               20000:[22001,22002,22003,22004,22005,22006,22007,22008], \n               100000:[101001,101002,101003]\n}'

In [121]:
#lt=[]
#x=45401
#for i in range(0,10):
#    y=x+i
#    lt.append(y)
#lt

In [122]:
#tempDict={11104:1001}

In [123]:
#df_ex['Page_Total_Code']=df_ex['itc'].replace(pg_ttl_dict.values(),pg_ttl_dict.keys())

In [124]:
df_ex['Itc_Names'] = df_ex['itc'].map(valubl_dict['itc'])

In [125]:
df_ex.reset_index()

,index,hhcode,province,region,psu,itc,v1,v2,v3,v4,Itc_Names
0,25,1.102010e+09,1,2,11020101,11104,2205.0,NaN,NaN,NaN,wheat flour bag
1,26,1.102010e+09,1,2,11020101,11112,1000.0,NaN,NaN,NaN,rice basmati (broken)
2,27,1.102010e+09,1,2,11020101,11115,100.0,NaN,NaN,NaN,pulse moong (whole/broken)
3,28,1.102010e+09,1,2,11020101,11117,110.0,NaN,NaN,NaN,pulse gram
4,29,1.102010e+09,1,2,11020101,11201,600.0,NaN,NaN,NaN,beef fresh
...,...,...,...,...,...,...,...,...,...,...,...
2694447,3286329,6.113340e+09,2,2,61133402,123107,3000.0,NaN,NaN,NaN,"artificial jewellery ,cuff links/tie pins etc."
2694448,3286330,6.113340e+09,2,2,61133402,123205,500.0,NaN,NaN,NaN,"miscellaneous personal articles (sun glasses, ..."
2694449,3286331,6.113340e+09,2,2,61133402,123207,2000.0,NaN,NaN,NaN,purse ladies/handbags/wallets etc.
2694450,3286332,6.113340e+09,2,2,61133402,127006,9000.0,NaN,NaN,NaN,expenditure on food and soft drinks on religio...
2694451,3286333,6.113340e+09,2,2,61133402,127007,24000.0,NaN,NaN,NaN,other miscellaneous expenditure ( pocket mone...

In [126]:
#pd.DataFrame(df_ex)

In [127]:
#valubl_dict['itc'].keys()

In [128]:
#dct_23=[cat2_dict,cat3_dict]
#dct_12=[cat1_dict,cat2_dict]
#dct_123=[dct_12,dct_23]

In [129]:
#print(yaml.dump(pg_ttl_dict, sort_keys=True, default_flow_style=False))

In [130]:
#dict3 = {k : [cat3_dict.get(x,x) for x in v] for k,v in cat2_dict.items()}

In [131]:
#dict_13={k : [dict3.get(x,x) for x in v] for k,v in cat1_dict.items()}

In [132]:
#dict_13

In [133]:
#df_ex['Category_Code']=df_ex['itc'].replace(Category_dict.values(),Category_dict.keys())

In [134]:
#df_ex

In [135]:
#dict_13[120000]

In [136]:
#df_ex['Cat3_Code']=df_ex['itc'].replace(cat3_dict.values(),cat3_dict.keys())

In [137]:
#df_ex['Cat3_Code']=df_ex['Cat3_Code'].replace(pg_ttl_dict.values(),0)

In [138]:
#df_ex

In [139]:
#df_ex['Cat2_Code']=df_ex['itc'].replace(cat2_dict.values(),cat2_dict.keys())

In [140]:
#df_ex['Cat2_Code']=df_ex['Cat2_Code'].replace(pg_ttl_dict.values(),0)

In [141]:
#df_ex

In [142]:
#df_ex['Cat1_Code']=df_ex['itc'].replace(cat1_dict.values(),cat1_dict.keys())

In [143]:
#df_ex['Cat1_Code']=df_ex['Cat1_Code'].replace(pg_ttl_dict.values(),0)

In [144]:
#df_ex

In [145]:
#cols=['Cat3_Code','Cat2_Code','Category_Code']
#df_ex[cols]=df_ex[cols].replace(0,'')

In [146]:
df_ex

,hhcode,province,region,psu,itc,v1,v2,v3,v4,Itc_Names
25,1.102010e+09,1,2,11020101,11104,2205.0,NaN,NaN,NaN,wheat flour bag
26,1.102010e+09,1,2,11020101,11112,1000.0,NaN,NaN,NaN,rice basmati (broken)
27,1.102010e+09,1,2,11020101,11115,100.0,NaN,NaN,NaN,pulse moong (whole/broken)
28,1.102010e+09,1,2,11020101,11117,110.0,NaN,NaN,NaN,pulse gram
29,1.102010e+09,1,2,11020101,11201,600.0,NaN,NaN,NaN,beef fresh
...,...,...,...,...,...,...,...,...,...,...
3286329,6.113340e+09,2,2,61133402,123107,3000.0,NaN,NaN,NaN,"artificial jewellery ,cuff links/tie pins etc."
3286330,6.113340e+09,2,2,61133402,123205,500.0,NaN,NaN,NaN,"miscellaneous personal articles (sun glasses, ..."
3286331,6.113340e+09,2,2,61133402,123207,2000.0,NaN,NaN,NaN,purse ladies/handbags/wallets etc.
3286332,6.113340e+09,2,2,61133402,127006,9000.0,NaN,NaN,NaN,expenditure on food and soft drinks on religio...
3286333,6.113340e+09,2,2,61133402,127007,24000.0,NaN,NaN,NaN,other miscellaneous expenditure ( pocket mone...

In [148]:
df_ex.dtypes

hhcode       float64
province        int8
region          int8
psu            int32
itc            int32
v1           float64
v2           float64
v3           float64
v4           float64
Itc_Names     object
dtype: object

In [149]:
df_ex.memory_usage(deep=True)

Index         21555616
hhcode        21555616
province       2694452
region         2694452
psu           10777808
itc           10777808
v1            21555616
v2            21555616
v3            21555616
v4            21555616
Itc_Names    227656080
dtype: int64

In [150]:
df_ex[["hhcode", "v1",'v2','v3','v4']] = df_ex[["hhcode", "v1",'v2','v3','v4']].apply(pd.to_numeric, downcast="float")

In [151]:
df_ex.memory_usage(deep=True)

Index         21555616
hhcode        10777808
province       2694452
region         2694452
psu           10777808
itc           10777808
v1            10777808
v2            10777808
v3            10777808
v4            10777808
Itc_Names    227656080
dtype: int64

In [152]:
df_ex["Itc_Names"] = df_ex["Itc_Names"].astype("category")

In [153]:
df_ex.memory_usage(deep=True)

Index        21555616
hhcode       10777808
province      2694452
region        2694452
psu          10777808
itc          10777808
v1           10777808
v2           10777808
v3           10777808
v4           10777808
Itc_Names     5450507
dtype: int64

In [154]:
df_ex_dict=df_ex.to_dict('itc')

C:\Users\ADMINI~1\AppData\Local\Temp/ipykernel_2328/1683577027.py:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  df_ex_dict=df_ex.to_dict('itc')

In [155]:
len(df_ex_dict)

2694452

In [156]:
l3_11=[11100,11200,11300,11400,11600,11700,11800,11900,12100,12200,12300,111100,45200,56200]
cat3=dict.fromkeys(l3_11,[])

In [157]:
l2=[11000,12000,111000,56000,121000,45000,31000,43000,54000,72000,73000,95000,52000,51000,71000,82000,91000,32000,53000]
cat2=dict.fromkeys(l2,[])

In [158]:
l1=[10000,110000,50000,120000,20000,40000,30000,70000,80000,60000,90000,100000]
cat1=dict.fromkeys(l1,[])

In [159]:
#r1 = []
#for r in range(25,3286333):
#    if r in df_ex_dict.keys():
#        print(df_ex_dict[r]['itc'])
        
    #if 11201<=d<=11299:
        #records = []
    #    if d not in r1:
    #        r1.append(d)
    #        cat3.update({11200:r1})

In [160]:
#df_ex_dict.keys()

In [161]:
df_ex_dict[25]['itc']

11104

In [162]:
def dict_insert(u):
    r1 = []
    for r in range(25,3286333):
        if r in df_ex_dict.keys():
            if (u+1)<=df_ex_dict[r]['itc']<=(u+99):
                if df_ex_dict[r]['itc'] not in r1:
                    r1.append(df_ex_dict[r]['itc'])
                    cat3.update({u:r1})

In [163]:
f=(11200,11300,11400,11500,11600,11700,11800,11900,12200,111100,11100,12100,45200,56200)
for i in f:
    dict_insert(i)

In [164]:
cat3

{11100: [11104,
  11112,
  11115,
  11117,
  11120,
  11125,
  11106,
  11116,
  11118,
  11119,
  11108,
  11123,
  11128,
  11102,
  11114,
  11111,
  11121,
  11113,
  11126,
  11127,
  11129,
  11110,
  11124,
  11105,
  11103,
  11101,
  11122,
  11107,
  11109],
 11200: [11201, 11206, 11203, 11204, 11205, 11202, 11207, 11208],
 11300: [11301, 11302, 11303],
 11400: [11401, 11402, 11407, 11409, 11403, 11408, 11406, 11405, 11404],
 11600: [11603,
  11606,
  11616,
  11611,
  11612,
  11602,
  11608,
  11609,
  11604,
  11601,
  11610,
  11615,
  11614,
  11605,
  11607,
  11613],
 11700: [11701,
  11702,
  11705,
  11717,
  11718,
  11720,
  11703,
  11704,
  11706,
  11715,
  11716,
  11711,
  11719,
  11709,
  11712,
  11722,
  11708,
  11714,
  11707,
  11713,
  11721,
  11710],
 11800: [11801,
  11805,
  11806,
  11807,
  11811,
  11812,
  11808,
  11802,
  11809,
  11803,
  11810,
  11804],
 11900: [11906,
  11911,
  11912,
  11919,
  11909,
  11917,
  11918,
  11902,
  11907,
  11913,
  11916,
  11905,
  11910,
  11901,
  11908,
  11904,
  11903],
 12100: [12102, 12101, 12103, 12104],
 12200: [12201, 12203, 12205, 12202, 12204, 12206],
 12300: [],
 111100: [111129,
  111132,
  111131,
  111101,
  111103,
  111105,
  111106,
  111108,
  111112,
  111102,
  111104,
  111110,
  111115,
  111117,
  111118,
  111122,
  111125,
  111127,
  111133,
  111107,
  111136,
  111128,
  111111,
  111134,
  111124,
  111140,
  111116,
  111135,
  111121,
  111139,
  111123,
  111119,
  111114,
  111130,
  111113,
  111126,
  111120,
  111137,
  111109,
  111138],
 45200: [45202, 45201],
 56200: [56201, 56203, 56204, 56202],
 11500: [11505, 11504, 11501, 11503, 11502, 11506]}

In [165]:
def cat2_dict(u):
    r1 = []
    for r in range(25,3286333):
        if r in df_ex_dict.keys():
            if (u+1)<=df_ex_dict[r]['itc']<=(u+999):
                if df_ex_dict[r]['itc'] not in r1:
                    r1.append(df_ex_dict[r]['itc'])
                    cat2.update({u:r1})

In [166]:
f=(11000,12000,111000,56000,121000,45000,31000,43000,54000,72000,73000,95000,52000,51000,71000,82000,91000,32000,53000)
for i in f:
    cat2_dict(i)

In [167]:
cat2

{11000: [11104,
  11112,
  11115,
  11117,
  11201,
  11206,
  11401,
  11402,
  11407,
  11409,
  11505,
  11603,
  11606,
  11616,
  11701,
  11702,
  11705,
  11717,
  11718,
  11801,
  11906,
  11911,
  11912,
  11919,
  11120,
  11125,
  11403,
  11611,
  11720,
  11106,
  11116,
  11118,
  11119,
  11612,
  11703,
  11704,
  11706,
  11108,
  11123,
  11128,
  11504,
  11602,
  11608,
  11609,
  11715,
  11716,
  11805,
  11806,
  11102,
  11114,
  11203,
  11711,
  11111,
  11121,
  11807,
  11113,
  11126,
  11127,
  11301,
  11408,
  11604,
  11719,
  11811,
  11812,
  11909,
  11917,
  11918,
  11129,
  11204,
  11205,
  11601,
  11709,
  11712,
  11808,
  11902,
  11907,
  11913,
  11916,
  11406,
  11722,
  11905,
  11708,
  11714,
  11707,
  11110,
  11713,
  11802,
  11809,
  11910,
  11803,
  11124,
  11105,
  11501,
  11610,
  11810,
  11615,
  11202,
  11901,
  11103,
  11101,
  11405,
  11503,
  11207,
  11404,
  11614,
  11908,
  11804,
  11605,
  11607,
  11122,
  11107,
  11502,
  11109,
  11721,
  11710,
  11302,
  11506,
  11208,
  11904,
  11903,
  11613,
  11303],
 12000: [12102, 12201, 12203, 12101, 12205, 12202, 12204, 12206, 12103, 12104],
 111000: [111129,
  111132,
  111131,
  111101,
  111103,
  111105,
  111106,
  111108,
  111112,
  111102,
  111104,
  111110,
  111115,
  111117,
  111118,
  111122,
  111125,
  111127,
  111133,
  111107,
  111136,
  111128,
  111111,
  111134,
  111124,
  111140,
  111116,
  111135,
  111121,
  111139,
  111123,
  111119,
  111114,
  111130,
  111113,
  111126,
  111120,
  111137,
  111109,
  111138],
 56000: [56102,
  56106,
  56107,
  56110,
  56111,
  56112,
  56113,
  56115,
  56101,
  56114,
  56103,
  56104,
  56105,
  56108,
  56201,
  56203,
  56204,
  56109,
  56202],
 121000: [121101,
  121304,
  121306,
  121307,
  121302,
  121303,
  121305,
  121314,
  121316,
  121308,
  121311,
  121312,
  121301,
  121315,
  121320,
  121313,
  121318,
  121319,
  121317,
  121309,
  121310,
  121201,
  121102,
  121202],
 45000: [45101,
  45202,
  45301,
  45401,
  45404,
  45102,
  45402,
  45201,
  45405,
  45403,
  45406],
 31000: [31101,
  31106,
  31210,
  31212,
  31214,
  31215,
  31217,
  31218,
  31225,
  31407,
  31408,
  31102,
  31211,
  31213,
  31221,
  31223,
  31220,
  31224,
  31409,
  31105,
  31203,
  31204,
  31207,
  31103,
  31104,
  31107,
  31201,
  31202,
  31205,
  31208,
  31209,
  31216,
  31219,
  31401,
  31402,
  31403,
  31404,
  31405,
  31406,
  31109,
  31222,
  31108,
  31206],
 43000: [43101,
  43203,
  43107,
  43102,
  43103,
  43104,
  43105,
  43106,
  43202,
  43205,
  43207,
  43108,
  43206,
  43201,
  43204,
  43109],
 54000: [54101,
  54117,
  54118,
  54113,
  54106,
  54108,
  54109,
  54110,
  54115,
  54116,
  54107,
  54111,
  54112,
  54114,
  54119,
  54105,
  54102,
  54104,
  54103],
 72000: [72101,
  72201,
  72203,
  72302,
  72303,
  72401,
  72202,
  72102,
  72301,
  72402,
  72204,
  72304,
  72103],
 73000: [73203,
  73207,
  73208,
  73501,
  73502,
  73201,
  73204,
  73301,
  73202,
  73205,
  73206,
  73103,
  73101,
  73102,
  73401],
 95000: [95106,
  95404,
  95405,
  95407,
  95409,
  95408,
  95103,
  95104,
  95202,
  95107,
  95108,
  95201,
  95203,
  95204,
  95406,
  95105,
  95102,
  95402,
  95403,
  95101,
  95205,
  95401,
  95301],
 52000: [52201, 52204, 52202, 52203, 52205, 52208, 52206, 52207],
 51000: [51111,
  51110,
  51106,
  51108,
  51102,
  51103,
  51104,
  51107,
  51109,
  51101,
  51105],
 71000: [71101, 71201, 71301, 71401],
 82000: [82306, 82305],
 91000: [91101, 91301, 91302, 91103, 91104, 91401, 91102, 91201, 91303],
 32000: [32101,
  32102,
  32104,
  32105,
  32106,
  32103,
  32107,
  32108,
  32201,
  32202,
  32109],
 53000: [53301,
  53203,
  53205,
  53206,
  53105,
  53201,
  53202,
  53109,
  53112,
  53101,
  53106,
  53107,
  53104,
  53204,
  53102,
  53115,
  53108,
  53110,
  53111,
  53113,
  53103,
  53114]}

In [168]:
def cat1_dict(u):
    r1 = []
    for r in range(25,3286333):
        if r in df_ex_dict.keys():
            if (u+1)<=df_ex_dict[r]['itc']<=(u+9999):
                if df_ex_dict[r]['itc'] not in r1:
                    r1.append(df_ex_dict[r]['itc'])
                    cat1.update({u:r1})

In [169]:
f=(10000,110000,50000,120000,20000,40000,30000,70000,80000,60000,90000,100000)
for i in f:
    cat1_dict(i)

In [170]:
cat1

{10000: [11104,
  11112,
  11115,
  11117,
  11201,
  11206,
  11401,
  11402,
  11407,
  11409,
  11505,
  11603,
  11606,
  11616,
  11701,
  11702,
  11705,
  11717,
  11718,
  11801,
  11906,
  11911,
  11912,
  11919,
  12102,
  11120,
  11125,
  11403,
  11611,
  11720,
  12201,
  11106,
  11116,
  11118,
  11119,
  11612,
  11703,
  11704,
  11706,
  11108,
  11123,
  11128,
  11504,
  11602,
  11608,
  11609,
  11715,
  11716,
  11805,
  11806,
  11102,
  11114,
  11203,
  11711,
  11111,
  11121,
  11807,
  11113,
  11126,
  11127,
  11301,
  11408,
  11604,
  11719,
  11811,
  11812,
  11909,
  11917,
  11918,
  12203,
  11129,
  11204,
  11205,
  11601,
  11709,
  11712,
  11808,
  11902,
  11907,
  11913,
  12101,
  11916,
  11406,
  11722,
  11905,
  11708,
  11714,
  12205,
  11707,
  11110,
  11713,
  11802,
  11809,
  11910,
  11803,
  11124,
  11105,
  12202,
  11501,
  11610,
  11810,
  11615,
  11202,
  11901,
  11103,
  12204,
  11101,
  11405,
  11503,
  12206,
  11207,
  11404,
  11614,
  11908,
  12103,
  11804,
  11605,
  11607,
  11122,
  11107,
  11502,
  11109,
  11721,
  11710,
  11302,
  11506,
  12104,
  11208,
  11904,
  11903,
  11613,
  11303],
 110000: [111129,
  111132,
  111131,
  111101,
  111103,
  111105,
  111106,
  111108,
  111112,
  111102,
  111104,
  111110,
  111115,
  111117,
  111118,
  111122,
  111125,
  111127,
  111133,
  112001,
  111107,
  111136,
  111128,
  111111,
  111134,
  111124,
  111140,
  111116,
  111135,
  111121,
  111139,
  111123,
  111119,
  111114,
  111130,
  111113,
  112003,
  111126,
  112002,
  111120,
  111137,
  111109,
  111138],
 50000: [51111,
  53301,
  54101,
  54117,
  54118,
  56102,
  56106,
  56107,
  56110,
  56111,
  56112,
  56113,
  56115,
  54113,
  56101,
  54106,
  54108,
  54109,
  54110,
  52201,
  52204,
  53203,
  54115,
  54116,
  56114,
  51110,
  53205,
  53206,
  54107,
  54111,
  56103,
  51106,
  51108,
  52202,
  52203,
  52205,
  53105,
  53201,
  53202,
  54112,
  52208,
  51102,
  51103,
  51104,
  51107,
  51109,
  52206,
  52207,
  53109,
  54114,
  56104,
  56105,
  56108,
  56201,
  56203,
  53112,
  54119,
  55201,
  54105,
  51101,
  53101,
  53106,
  53107,
  51105,
  54102,
  53104,
  54104,
  53204,
  56204,
  56109,
  53102,
  56202,
  53115,
  55101,
  54103,
  53108,
  53110,
  53111,
  53113,
  53103,
  53114],
 120000: [121101,
  121304,
  121306,
  123107,
  127007,
  121307,
  127006,
  121302,
  121303,
  121305,
  121314,
  121316,
  123205,
  123207,
  121308,
  121311,
  121312,
  121301,
  121315,
  121320,
  121313,
  121318,
  121319,
  123101,
  123204,
  127002,
  121317,
  123206,
  121309,
  121310,
  123104,
  123203,
  127001,
  127005,
  123105,
  121201,
  123202,
  125001,
  123103,
  127003,
  121102,
  123201,
  123102,
  123106,
  127004,
  121202],
 20000: [22003, 22005, 22002, 22004, 22007, 22001, 22009, 22006, 22008],
 40000: [42101,
  45101,
  45202,
  45301,
  43101,
  45401,
  43203,
  44101,
  43107,
  43102,
  43103,
  43104,
  43105,
  43106,
  43202,
  45404,
  41101,
  43205,
  43207,
  45102,
  45402,
  42102,
  43108,
  45201,
  45405,
  43206,
  43201,
  42103,
  44201,
  43204,
  43109,
  45403,
  45406],
 30000: [31101,
  31106,
  31210,
  31212,
  31214,
  31215,
  31217,
  31218,
  31225,
  31407,
  31408,
  32101,
  32102,
  32104,
  32105,
  32106,
  31102,
  31211,
  31213,
  31221,
  31223,
  32103,
  31220,
  31224,
  31409,
  32107,
  32108,
  32201,
  32202,
  31105,
  31203,
  31204,
  31207,
  32109,
  31103,
  31104,
  31107,
  31201,
  31202,
  31205,
  31208,
  31209,
  31216,
  31219,
  31401,
  31402,
  31403,
  31404,
  31405,
  31406,
  31109,
  31222,
  31108,
  31206],
 70000: [73203,
  73207,
  73208,
  73501,
  72101,
  72201,
  72203,
  72302,
  72303,
  72401,
  73502,
  72202,
  73201,
  73204,
  73301,
  73202,
  72102,
  72301,
  73205,
  73206,
  72402,
  72204,
  71101,
  71201,
  72304,
  73103,
  72103,
  73101,
  71301,
  73102,
  71401,
  73401],
 80000: [82306,
  83002,
  83005,
  81004,
  81005,
  81006,
  83004,
  83001,
  83003,
  81001,
  81003,
  82305,
  81002],
 60000: [61101,
  61102,
  61103,
  61104,
  61107,
  61108,
  61114,
  61120,
  61105,
  61106,
  62101,
  62301,
  62302,
  62303,
  62306,
  62308,
  61110,
  61109,
  62201,
  63101,
  63102,
  63103,
  63104,
  63105,
  63106,
  63107,
  63111,
  63112,
  61111,
  61115,
  61116,
  61118,
  62304,
  62305,
  62307,
  63108,
  63110,
  61113,
  61117,
  61119,
  63109,
  61112],
 90000: [93401,
  95106,
  95404,
  95405,
  95407,
  95409,
  95408,
  95103,
  95104,
  95202,
  91101,
  91301,
  92201,
  95107,
  95108,
  95201,
  95203,
  95204,
  95406,
  95105,
  93101,
  95102,
  95402,
  95403,
  93301,
  95101,
  91302,
  93201,
  95205,
  91103,
  91104,
  91401,
  93102,
  91102,
  94204,
  94203,
  95401,
  93302,
  94201,
  95301,
  91201,
  94202,
  91303],
 100000: [101001,
  101006,
  101002,
  101007,
  105002,
  101005,
  101010,
  101003,
  101011,
  105001,
  101004,
  101008,
  101009]}

In [171]:
df_ex['Cat3_Code']=df_ex['itc'].replace(cat3.values(),cat3.keys())

In [172]:
df_ex['Cat3_Code']=df_ex['Cat3_Code'].replace(pg_ttl_dict.values(),0)

In [173]:
df_ex

,hhcode,province,region,psu,itc,v1,v2,v3,v4,Itc_Names,Cat3_Code
25,1.102010e+09,1,2,11020101,11104,2205.0,NaN,NaN,NaN,wheat flour bag,11100
26,1.102010e+09,1,2,11020101,11112,1000.0,NaN,NaN,NaN,rice basmati (broken),11100
27,1.102010e+09,1,2,11020101,11115,100.0,NaN,NaN,NaN,pulse moong (whole/broken),11100
28,1.102010e+09,1,2,11020101,11117,110.0,NaN,NaN,NaN,pulse gram,11100
29,1.102010e+09,1,2,11020101,11201,600.0,NaN,NaN,NaN,beef fresh,11200
...,...,...,...,...,...,...,...,...,...,...,...
3286329,6.113340e+09,2,2,61133402,123107,3000.0,NaN,NaN,NaN,"artificial jewellery ,cuff links/tie pins etc.",0
3286330,6.113340e+09,2,2,61133402,123205,500.0,NaN,NaN,NaN,"miscellaneous personal articles (sun glasses, ...",0
3286331,6.113340e+09,2,2,61133402,123207,2000.0,NaN,NaN,NaN,purse ladies/handbags/wallets etc.,0
3286332,6.113340e+09,2,2,61133402,127006,9000.0,NaN,NaN,NaN,expenditure on food and soft drinks on religio...,0
3286333,6.113340e+09,2,2,61133402,127007,24000.0,NaN,NaN,NaN,other miscellaneous expenditure ( pocket mone...,0

In [174]:
df_ex['Cat2_Code']=df_ex['itc'].replace(cat2.values(),cat2.keys())

In [175]:
df_ex['Cat2_Code']=df_ex['Cat2_Code'].replace(pg_ttl_dict.values(),0)

In [176]:
df_ex

,hhcode,province,region,psu,itc,v1,v2,v3,v4,Itc_Names,Cat3_Code,Cat2_Code
25,1.102010e+09,1,2,11020101,11104,2205.0,NaN,NaN,NaN,wheat flour bag,11100,11000
26,1.102010e+09,1,2,11020101,11112,1000.0,NaN,NaN,NaN,rice basmati (broken),11100,11000
27,1.102010e+09,1,2,11020101,11115,100.0,NaN,NaN,NaN,pulse moong (whole/broken),11100,11000
28,1.102010e+09,1,2,11020101,11117,110.0,NaN,NaN,NaN,pulse gram,11100,11000
29,1.102010e+09,1,2,11020101,11201,600.0,NaN,NaN,NaN,beef fresh,11200,11000
...,...,...,...,...,...,...,...,...,...,...,...,...
3286329,6.113340e+09,2,2,61133402,123107,3000.0,NaN,NaN,NaN,"artificial jewellery ,cuff links/tie pins etc.",0,0
3286330,6.113340e+09,2,2,61133402,123205,500.0,NaN,NaN,NaN,"miscellaneous personal articles (sun glasses, ...",0,0
3286331,6.113340e+09,2,2,61133402,123207,2000.0,NaN,NaN,NaN,purse ladies/handbags/wallets etc.,0,0
3286332,6.113340e+09,2,2,61133402,127006,9000.0,NaN,NaN,NaN,expenditure on food and soft drinks on religio...,0,0
3286333,6.113340e+09,2,2,61133402,127007,24000.0,NaN,NaN,NaN,other miscellaneous expenditure ( pocket mone...,0,0

In [177]:
df_ex['Cat1_Code']=df_ex['itc'].replace(cat1.values(),cat1.keys())

In [178]:
df_ex

,hhcode,province,region,psu,itc,v1,v2,v3,v4,Itc_Names,Cat3_Code,Cat2_Code,Cat1_Code
25,1.102010e+09,1,2,11020101,11104,2205.0,NaN,NaN,NaN,wheat flour bag,11100,11000,10000
26,1.102010e+09,1,2,11020101,11112,1000.0,NaN,NaN,NaN,rice basmati (broken),11100,11000,10000
27,1.102010e+09,1,2,11020101,11115,100.0,NaN,NaN,NaN,pulse moong (whole/broken),11100,11000,10000
28,1.102010e+09,1,2,11020101,11117,110.0,NaN,NaN,NaN,pulse gram,11100,11000,10000
29,1.102010e+09,1,2,11020101,11201,600.0,NaN,NaN,NaN,beef fresh,11200,11000,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3286329,6.113340e+09,2,2,61133402,123107,3000.0,NaN,NaN,NaN,"artificial jewellery ,cuff links/tie pins etc.",0,0,120000
3286330,6.113340e+09,2,2,61133402,123205,500.0,NaN,NaN,NaN,"miscellaneous personal articles (sun glasses, ...",0,0,120000
3286331,6.113340e+09,2,2,61133402,123207,2000.0,NaN,NaN,NaN,purse ladies/handbags/wallets etc.,0,0,120000
3286332,6.113340e+09,2,2,61133402,127006,9000.0,NaN,NaN,NaN,expenditure on food and soft drinks on religio...,0,0,120000
3286333,6.113340e+09,2,2,61133402,127007,24000.0,NaN,NaN,NaN,other miscellaneous expenditure ( pocket mone...,0,0,120000

In [179]:
pg_lst=[1001,1002,1003,1004,1005,2001,2002,2003,4000,5001,5002,5003,5004,6000]
pg_total_dict=dict.fromkeys(pg_lst,[])

In [180]:
r1001=[]
r1002=[]
r1003=[]
r1004=[]
r1005=[]
r2001=[]
r2002=[]
r2003=[]
r4000=[]
r5001=[]
r5002=[]
r5003=[]
r5004=[]
r6000=[]
for r in range(25,3286333):
    if r in df_ex_dict.keys():
        if 11201<=df_ex_dict[r]['itc']<=11299 or 11301<=df_ex_dict[r]['itc']<=11399 or 11401<=df_ex_dict[r]['itc']<=11499 or 11601<=df_ex_dict[r]['itc']<=11604:
            if df_ex_dict[r]['itc'] not in r1001:
                r1001.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({1001:r1001})
        elif 11605<=df_ex_dict[r]['itc']<=11699 or 11701<=df_ex_dict[r]['itc']<=11716:
            if df_ex_dict[r]['itc'] not in r1002:
                r1002.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({1002:r1002})
        elif 11717<=df_ex_dict[r]['itc']<=11799 or 11801<=df_ex_dict[r]['itc']<=11810 or 11901<=df_ex_dict[r]['itc']<=11909:
            if df_ex_dict[r]['itc'] not in r1003:
                r1003.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({1003:r1003})
        elif 11910<=df_ex_dict[r]['itc']<=11913 or 12201<=df_ex_dict[r]['itc']<=12999 or 111101<=df_ex_dict[r]['itc']<=111115:
            if df_ex_dict[r]['itc'] not in r1004:
                r1004.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({1004:r1004})
        elif 111116<=df_ex_dict[r]['itc']<=111199:
            if df_ex_dict[r]['itc'] not in r1005:
                r1005.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({1005:r1005})
        elif 11101<=df_ex_dict[r]['itc']<=11124:
            if df_ex_dict[r]['itc'] not in r2001:
                r2001.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({2001:r2001})
        elif 11125<=df_ex_dict[r]['itc']<=11199 or 11501<=df_ex_dict[r]['itc']<=11599 or 11811<=df_ex_dict[r]['itc']<=11899 or 11916<=df_ex_dict[r]['itc']<=11999 or 12101<=df_ex_dict[r]['itc']<=12199 or 56101<=df_ex_dict[r]['itc']<=56105:
            if df_ex_dict[r]['itc'] not in r2002:
                r2002.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({2002:r2002})
        elif 56106<=df_ex_dict[r]['itc']<=56199 or 121101<=df_ex_dict[r]['itc']<=121999:
            if df_ex_dict[r]['itc'] not in r2003:
                r2003.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({2003:r2003})
        elif 22001<=df_ex_dict[r]['itc']<=22999 or 44101<=df_ex_dict[r]['itc']<=44999 or 45201<=df_ex_dict[r]['itc']<=45299 or 45101<=df_ex_dict[r]['itc']<=45199 or 45301<=df_ex_dict[r]['itc']<=45699:
            if df_ex_dict[r]['itc'] not in r4000:
                r4000.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({4000:r4000})
        elif 31001<=df_ex_dict[r]['itc']<=32999 or 41101<=df_ex_dict[r]['itc']<=43299:
            if df_ex_dict[r]['itc'] not in r5001:
                r5001.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({5001:r5001})
        elif 56201<=df_ex_dict[r]['itc']<=56299 or 54101<=df_ex_dict[r]['itc']<=54103 or 72101<=df_ex_dict[r]['itc']<=73999 or 11916<=df_ex_dict[r]['itc']<=11999 or 81001<=df_ex_dict[r]['itc']<=81999 or 83001<=df_ex_dict[r]['itc']<=83999:
            if df_ex_dict[r]['itc'] not in r5002:
                r5002.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({5002:r5002})
        elif 61101<=df_ex_dict[r]['itc']<=63999 or 93101<=df_ex_dict[r]['itc']<=95299 or 101001<=df_ex_dict[r]['itc']<=109999 or 95101<=df_ex_dict[r]['itc']<=95399 or 95401<=df_ex_dict[r]['itc']<=95499:
            if df_ex_dict[r]['itc'] not in r5003:
                r5003.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({5003:r5003})
        elif 112001<=df_ex_dict[r]['itc']<=112999 or 53101<=df_ex_dict[r]['itc']<=53102 or 123104<=df_ex_dict[r]['itc']<=127999 or df_ex_dict[r]['itc']==123101:
            if df_ex_dict[r]['itc'] not in r5004:
                r5004.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({5004:r5004})
        elif 52201<=df_ex_dict[r]['itc']<=52999 or 54104<=df_ex_dict[r]['itc']<=54199 or 51101<=df_ex_dict[r]['itc']<=51999 or 53103<=df_ex_dict[r]['itc']<=53999 or 55101<=df_ex_dict[r]['itc']<=55999 or 71101<=df_ex_dict[r]['itc']<=71999 or 82101<=df_ex_dict[r]['itc']<=82999 or 91101<=df_ex_dict[r]['itc']<=91999 or 123102<=df_ex_dict[r]['itc']<=123103:
            if df_ex_dict[r]['itc'] not in r6000:
                r6000.append(df_ex_dict[r]['itc'])
                pg_total_dict.update({6000:r6000})
        #else:
            #print("Every key has been accounted for")

In [181]:
pg_total_dict

{1001: [11201,
  11206,
  11401,
  11402,
  11407,
  11409,
  11603,
  11403,
  11602,
  11203,
  11301,
  11408,
  11604,
  11204,
  11205,
  11601,
  11406,
  11202,
  11405,
  11207,
  11404,
  11302,
  11208,
  11303],
 1002: [11606,
  11616,
  11701,
  11702,
  11705,
  11611,
  11612,
  11703,
  11704,
  11706,
  11608,
  11609,
  11715,
  11716,
  11711,
  11709,
  11712,
  11708,
  11714,
  11707,
  11713,
  11610,
  11615,
  11614,
  11605,
  11607,
  11710,
  11613],
 1003: [11717,
  11718,
  11801,
  11906,
  11720,
  11805,
  11806,
  11807,
  11719,
  11909,
  11808,
  11902,
  11907,
  11722,
  11905,
  11802,
  11809,
  11803,
  11810,
  11901,
  11908,
  11804,
  11721,
  11904,
  11903],
 1004: [11911,
  11912,
  12201,
  111101,
  111103,
  111105,
  111106,
  111108,
  111112,
  12203,
  111102,
  111104,
  111110,
  111115,
  11913,
  12205,
  11910,
  111107,
  111111,
  12202,
  12204,
  12206,
  111114,
  111113,
  111109],
 1005: [111129,
  111132,
  111131,
  111117,
  111118,
  111122,
  111125,
  111127,
  111133,
  111136,
  111128,
  111134,
  111124,
  111140,
  111116,
  111135,
  111121,
  111139,
  111123,
  111119,
  111130,
  111126,
  111120,
  111137,
  111138],
 2001: [11104,
  11112,
  11115,
  11117,
  11120,
  11106,
  11116,
  11118,
  11119,
  11108,
  11123,
  11102,
  11114,
  11111,
  11121,
  11113,
  11110,
  11124,
  11105,
  11103,
  11101,
  11122,
  11107,
  11109],
 2002: [11505,
  11919,
  12102,
  56102,
  11125,
  56101,
  11128,
  11504,
  56103,
  11126,
  11127,
  11811,
  11812,
  11917,
  11918,
  56104,
  56105,
  11129,
  12101,
  11916,
  11501,
  11503,
  12103,
  11502,
  11506,
  12104],
 2003: [56106,
  56107,
  56110,
  56111,
  56112,
  56113,
  56115,
  121101,
  121304,
  121306,
  121307,
  56114,
  121302,
  121303,
  121305,
  121314,
  121316,
  121308,
  121311,
  121312,
  121301,
  121315,
  121320,
  56108,
  121313,
  121318,
  121319,
  121317,
  121309,
  121310,
  121201,
  56109,
  121102,
  121202],
 4000: [45101,
  45202,
  45301,
  22003,
  45401,
  22005,
  44101,
  45404,
  22002,
  45102,
  45402,
  45201,
  45405,
  22004,
  44201,
  22007,
  45403,
  45406,
  22001,
  22009,
  22006,
  22008],
 5001: [31101,
  31106,
  31210,
  31212,
  31214,
  31215,
  31217,
  31218,
  31225,
  31407,
  31408,
  32101,
  32102,
  32104,
  32105,
  32106,
  42101,
  31102,
  31211,
  31213,
  31221,
  31223,
  32103,
  43101,
  31220,
  31224,
  31409,
  32107,
  32108,
  32201,
  32202,
  43203,
  31105,
  31203,
  31204,
  31207,
  32109,
  43107,
  43102,
  43103,
  43104,
  43105,
  43106,
  43202,
  41101,
  31103,
  31104,
  31107,
  31201,
  31202,
  31205,
  31208,
  31209,
  31216,
  31219,
  31401,
  31402,
  31403,
  31404,
  31405,
  31406,
  43205,
  43207,
  42102,
  43108,
  31109,
  31222,
  31108,
  43206,
  43201,
  31206,
  42103,
  43204,
  43109],
 5002: [54101,
  73203,
  73207,
  73208,
  83002,
  83005,
  73501,
  56201,
  56203,
  72101,
  72201,
  72203,
  72302,
  72303,
  72401,
  73502,
  81004,
  81005,
  81006,
  83004,
  83001,
  72202,
  73201,
  73204,
  73301,
  73202,
  83003,
  72102,
  72301,
  73205,
  73206,
  81001,
  81003,
  54102,
  56204,
  72402,
  72204,
  56202,
  72304,
  73103,
  54103,
  72103,
  73101,
  81002,
  73102,
  73401],
 5003: [61101,
  61102,
  61103,
  61104,
  61107,
  61108,
  61114,
  61120,
  93401,
  95106,
  95404,
  95405,
  95407,
  95409,
  101001,
  61105,
  61106,
  62101,
  62301,
  62302,
  62303,
  62306,
  62308,
  95408,
  61110,
  101006,
  61109,
  62201,
  63101,
  63102,
  63103,
  63104,
  63105,
  63106,
  63107,
  63111,
  63112,
  95103,
  95104,
  95202,
  101002,
  101007,
  61111,
  61115,
  61116,
  61118,
  62304,
  62305,
  62307,
  63108,
  63110,
  95107,
  95108,
  95201,
  95203,
  95204,
  95406,
  105002,
  61113,
  61117,
  61119,
  95105,
  93101,
  101005,
  95102,
  95402,
  101010,
  95403,
  63109,
  61112,
  101003,
  93301,
  95101,
  93201,
  101011,
  95205,
  105001,
  101004,
  93102,
  101008,
  101009,
  94204,
  94203,
  95401,
  93302,
  94201,
  95301,
  94202],
 5004: [123107,
  127007,
  127006,
  123205,
  123207,
  112001,
  123101,
  123204,
  127002,
  123206,
  123104,
  123203,
  53101,
  127001,
  127005,
  123105,
  123202,
  125001,
  127003,
  53102,
  123201,
  112003,
  123106,
  112002,
  127004],
 6000: [51111,
  53301,
  54117,
  54118,
  82306,
  54113,
  54106,
  54108,
  54109,
  54110,
  52201,
  52204,
  53203,
  54115,
  54116,
  51110,
  53205,
  53206,
  54107,
  54111,
  51106,
  51108,
  52202,
  52203,
  52205,
  53105,
  53201,
  53202,
  54112,
  52208,
  51102,
  51103,
  51104,
  51107,
  51109,
  52206,
  52207,
  53109,
  54114,
  91101,
  91301,
  53112,
  54119,
  55201,
  54105,
  51101,
  91302,
  53106,
  53107,
  51105,
  53104,
  54104,
  82305,
  123103,
  53204,
  91103,
  91104,
  71101,
  71201,
  91401,
  53115,
  55101,
  123102,
  53108,
  53110,
  53111,
  91102,
  71301,
  53113,
  91201,
  71401,
  91303,
  53103,
  53114]}

In [182]:
total=[1000,2000,4000,5000,6000]
total_part=dict.fromkeys(total,[])

In [183]:
r1000=[]
r2000=[]
r4000=[]
r5000=[]
r6000=[]
for r in range(25,3286333):
    if r in df_ex_dict.keys():
        if 11201<=df_ex_dict[r]['itc']<=11299 or 11301<=df_ex_dict[r]['itc']<=11399 or 11401<=df_ex_dict[r]['itc']<=11499 or 11601<=df_ex_dict[r]['itc']<=11604 or 11605<=df_ex_dict[r]['itc']<=11699 or 11701<=df_ex_dict[r]['itc']<=11716 or 11717<=df_ex_dict[r]['itc']<=11799 or 11801<=df_ex_dict[r]['itc']<=11810 or 11901<=df_ex_dict[r]['itc']<=11909 or 11910<=df_ex_dict[r]['itc']<=11913 or 12201<=df_ex_dict[r]['itc']<=12999 or 111101<=df_ex_dict[r]['itc']<=111115 or 111116<=df_ex_dict[r]['itc']<=111199:
            if df_ex_dict[r]['itc'] not in r1000:
                r1000.append(df_ex_dict[r]['itc'])
                total_part.update({1000:r1000})
        elif 11101<=df_ex_dict[r]['itc']<=11124 or 11125<=df_ex_dict[r]['itc']<=11199 or 11501<=df_ex_dict[r]['itc']<=11599 or 11811<=df_ex_dict[r]['itc']<=11899 or 11916<=df_ex_dict[r]['itc']<=11999 or 12101<=df_ex_dict[r]['itc']<=12199 or 56101<=df_ex_dict[r]['itc']<=56105 or 56106<=df_ex_dict[r]['itc']<=56199 or 121101<=df_ex_dict[r]['itc']<=121999:
            if df_ex_dict[r]['itc'] not in r2000:
                r2000.append(df_ex_dict[r]['itc'])
                total_part.update({2000:r2000})
        elif 22001<=df_ex_dict[r]['itc']<=22999 or 44101<=df_ex_dict[r]['itc']<=44999 or 45201<=df_ex_dict[r]['itc']<=45299 or 45101<=df_ex_dict[r]['itc']<=45199 or 45301<=df_ex_dict[r]['itc']<=45699:
            if df_ex_dict[r]['itc'] not in r4000:
                r4000.append(df_ex_dict[r]['itc'])
                total_part.update({4000:r4000})
        elif 31001<=df_ex_dict[r]['itc']<=32999 or 41101<=df_ex_dict[r]['itc']<=43299 or 56201<=df_ex_dict[r]['itc']<=56299 or 54101<=df_ex_dict[r]['itc']<=54103 or 72101<=df_ex_dict[r]['itc']<=73999 or 11916<=df_ex_dict[r]['itc']<=11999 or 81001<=df_ex_dict[r]['itc']<=81999 or 83001<=df_ex_dict[r]['itc']<=83999 or 61101<=df_ex_dict[r]['itc']<=63999 or 93101<=df_ex_dict[r]['itc']<=95299 or 101001<=df_ex_dict[r]['itc']<=109999 or 95101<=df_ex_dict[r]['itc']<=95399 or 112001<=df_ex_dict[r]['itc']<=112999 or 53101<=df_ex_dict[r]['itc']<=53102 or 123104<=df_ex_dict[r]['itc']<=127999 or df_ex_dict[r]['itc']==123101 or 95401<=df_ex_dict[r]['itc']<=95499:
            if df_ex_dict[r]['itc'] not in r5000:
                r5000.append(df_ex_dict[r]['itc'])
                total_part.update({5000:r5000})
        elif 52201<=df_ex_dict[r]['itc']<=52999 or 54104<=df_ex_dict[r]['itc']<=54199 or 51101<=df_ex_dict[r]['itc']<=51999 or 53103<=df_ex_dict[r]['itc']<=53999 or 55101<=df_ex_dict[r]['itc']<=55999 or 71101<=df_ex_dict[r]['itc']<=71999 or 82101<=df_ex_dict[r]['itc']<=82999 or 91101<=df_ex_dict[r]['itc']<=91999 or 123102<=df_ex_dict[r]['itc']<=123103:
            if df_ex_dict[r]['itc'] not in r6000:
                r6000.append(df_ex_dict[r]['itc'])
                total_part.update({6000:r6000})

In [184]:
total_part

{1000: [11201,
  11206,
  11401,
  11402,
  11407,
  11409,
  11603,
  11606,
  11616,
  11701,
  11702,
  11705,
  11717,
  11718,
  11801,
  11906,
  11911,
  11912,
  11403,
  11611,
  11720,
  12201,
  111129,
  111132,
  11612,
  11703,
  11704,
  11706,
  11602,
  11608,
  11609,
  11715,
  11716,
  11805,
  11806,
  11203,
  11711,
  111131,
  111101,
  111103,
  111105,
  111106,
  111108,
  111112,
  11807,
  11301,
  11408,
  11604,
  11719,
  11909,
  12203,
  111102,
  111104,
  111110,
  111115,
  111117,
  111118,
  111122,
  111125,
  111127,
  111133,
  11204,
  11205,
  11601,
  11709,
  11712,
  11808,
  11902,
  11907,
  11913,
  11406,
  11722,
  11905,
  11708,
  11714,
  12205,
  11707,
  11713,
  11802,
  11809,
  11910,
  11803,
  111107,
  111136,
  111128,
  111111,
  111134,
  12202,
  111124,
  11610,
  11810,
  111140,
  111116,
  11615,
  11202,
  111135,
  11901,
  111121,
  111139,
  12204,
  11405,
  12206,
  11207,
  11404,
  11614,
  11908,
  111123,
  111119,
  11804,
  11605,
  11607,
  111114,
  111130,
  11721,
  11710,
  111113,
  11302,
  111126,
  11208,
  11904,
  11903,
  111120,
  111137,
  111109,
  11613,
  111138,
  11303],
 2000: [11104,
  11112,
  11115,
  11117,
  11505,
  11919,
  12102,
  56102,
  56106,
  56107,
  56110,
  56111,
  56112,
  56113,
  56115,
  121101,
  121304,
  121306,
  11120,
  11125,
  56101,
  121307,
  11106,
  11116,
  11118,
  11119,
  11108,
  11123,
  11128,
  11504,
  56114,
  121302,
  121303,
  121305,
  121314,
  121316,
  11102,
  11114,
  56103,
  121308,
  121311,
  121312,
  11111,
  11121,
  121301,
  11113,
  121315,
  121320,
  11126,
  11127,
  11811,
  11812,
  11917,
  11918,
  56104,
  56105,
  56108,
  121313,
  121318,
  121319,
  11129,
  12101,
  121317,
  11916,
  121309,
  11110,
  121310,
  11124,
  11105,
  11501,
  11103,
  121201,
  11101,
  11503,
  12103,
  56109,
  11122,
  11107,
  11502,
  11109,
  121102,
  11506,
  12104,
  121202],
 4000: [45101,
  45202,
  45301,
  22003,
  45401,
  22005,
  44101,
  45404,
  22002,
  45102,
  45402,
  45201,
  45405,
  22004,
  44201,
  22007,
  45403,
  45406,
  22001,
  22009,
  22006,
  22008],
 5000: [31101,
  31106,
  31210,
  31212,
  31214,
  31215,
  31217,
  31218,
  31225,
  31407,
  31408,
  32101,
  32102,
  32104,
  32105,
  32106,
  42101,
  54101,
  61101,
  61102,
  61103,
  61104,
  61107,
  61108,
  61114,
  61120,
  73203,
  73207,
  73208,
  83002,
  83005,
  93401,
  95106,
  95404,
  95405,
  95407,
  95409,
  101001,
  123107,
  127007,
  31102,
  31211,
  31213,
  31221,
  31223,
  32103,
  43101,
  61105,
  61106,
  62101,
  62301,
  62302,
  73501,
  127006,
  31220,
  31224,
  31409,
  32107,
  32108,
  32201,
  32202,
  43203,
  62303,
  62306,
  62308,
  95408,
  31105,
  31203,
  31204,
  31207,
  32109,
  43107,
  61110,
  101006,
  123205,
  123207,
  43102,
  43103,
  43104,
  43105,
  43106,
  43202,
  61109,
  62201,
  63101,
  63102,
  63103,
  63104,
  63105,
  63106,
  63107,
  63111,
  63112,
  95103,
  95104,
  95202,
  101002,
  41101,
  101007,
  31103,
  31104,
  31107,
  31201,
  31202,
  31205,
  31208,
  31209,
  31216,
  31219,
  31401,
  31402,
  31403,
  31404,
  31405,
  31406,
  43205,
  43207,
  56201,
  56203,
  61111,
  61115,
  61116,
  61118,
  62304,
  62305,
  62307,
  63108,
  63110,
  72101,
  72201,
  72203,
  72302,
  72303,
  72401,
  73502,
  81004,
  81005,
  81006,
  83004,
  95107,
  95108,
  95201,
  95203,
  95204,
  95406,
  105002,
  112001,
  123101,
  123204,
  127002,
  61113,
  61117,
  61119,
  83001,
  95105,
  123206,
  42102,
  72202,
  93101,
  101005,
  95102,
  73201,
  43108,
  95402,
  101010,
  95403,
  73204,
  31109,
  73301,
  123104,
  63109,
  73202,
  61112,
  31222,
  83003,
  101003,
  93301,
  72102,
  72301,
  95101,
  73205,
  123203,
  31108,
  53101,
  73206,
  93201,
  81001,
  127001,
  43206,
  81003,
  127005,
  54102,
  43201,
  101011,
  123105,
  123202,
  125001,
  31206,
  56204,
  127003,
  95205,
  105001,
  72402,
  72204,
  42103,
  53102,
  56202,
  72304,
  101004,
  123201,
  73103,
  93102,
  112003,
  54103,
  101008,
  72103,
  43204,
  73101,
  123106,
  81002,
  101009,
  43109,
  112002,
  94204,
  94203,
  95401,
  93302,
  73102,
  127004,
  94201,
  95301,
  94202,
  73401],
 6000: [51111,
  53301,
  54117,
  54118,
  82306,
  54113,
  54106,
  54108,
  54109,
  54110,
  52201,
  52204,
  53203,
  54115,
  54116,
  51110,
  53205,
  53206,
  54107,
  54111,
  51106,
  51108,
  52202,
  52203,
  52205,
  53105,
  53201,
  53202,
  54112,
  52208,
  51102,
  51103,
  51104,
  51107,
  51109,
  52206,
  52207,
  53109,
  54114,
  91101,
  91301,
  53112,
  54119,
  55201,
  54105,
  51101,
  91302,
  53106,
  53107,
  51105,
  53104,
  54104,
  82305,
  123103,
  53204,
  91103,
  91104,
  71101,
  71201,
  91401,
  53115,
  55101,
  123102,
  53108,
  53110,
  53111,
  91102,
  71301,
  53113,
  91201,
  71401,
  91303,
  53103,
  53114]}

In [185]:
df_ex['Page_Code']=df_ex['itc'].replace(pg_total_dict.values(),pg_total_dict.keys())

In [186]:
df_ex['Total Page Code']=df_ex['itc'].replace(total_part.values(),total_part.keys())

In [187]:
df_ex

,hhcode,province,region,psu,itc,v1,v2,v3,v4,Itc_Names,Cat3_Code,Cat2_Code,Cat1_Code,Page_Code,Total Page Code
25,1.102010e+09,1,2,11020101,11104,2205.0,NaN,NaN,NaN,wheat flour bag,11100,11000,10000,2001,2000
26,1.102010e+09,1,2,11020101,11112,1000.0,NaN,NaN,NaN,rice basmati (broken),11100,11000,10000,2001,2000
27,1.102010e+09,1,2,11020101,11115,100.0,NaN,NaN,NaN,pulse moong (whole/broken),11100,11000,10000,2001,2000
28,1.102010e+09,1,2,11020101,11117,110.0,NaN,NaN,NaN,pulse gram,11100,11000,10000,2001,2000
29,1.102010e+09,1,2,11020101,11201,600.0,NaN,NaN,NaN,beef fresh,11200,11000,10000,1001,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3286329,6.113340e+09,2,2,61133402,123107,3000.0,NaN,NaN,NaN,"artificial jewellery ,cuff links/tie pins etc.",0,0,120000,5004,5000
3286330,6.113340e+09,2,2,61133402,123205,500.0,NaN,NaN,NaN,"miscellaneous personal articles (sun glasses, ...",0,0,120000,5004,5000
3286331,6.113340e+09,2,2,61133402,123207,2000.0,NaN,NaN,NaN,purse ladies/handbags/wallets etc.,0,0,120000,5004,5000
3286332,6.113340e+09,2,2,61133402,127006,9000.0,NaN,NaN,NaN,expenditure on food and soft drinks on religio...,0,0,120000,5004,5000
3286333,6.113340e+09,2,2,61133402,127007,24000.0,NaN,NaN,NaN,other miscellaneous expenditure ( pocket mone...,0,0,120000,5004,5000

In [197]:
df_ex['Cat3_Code']=df_ex['Cat3_Code'].replace(pg_ttl_dict.values(),0)
#pg_ttl_dict.values()

In [198]:
df_ex['Cat2_Code']=df_ex['Cat2_Code'].replace(pg_ttl_dict.values(),0)

In [199]:
df_ex['Cat1_Code']=df_ex['Cat1_Code'].replace(pg_ttl_dict.values(),0)

In [200]:
df_slct=df_ex[['hhcode','itc','v1','Cat3_Code','Cat2_Code','Cat1_Code','Page_Code','Total Page Code']]

In [201]:
df_slct

,hhcode,itc,v1,Cat3_Code,Cat2_Code,Cat1_Code,Page_Code,Total Page Code
25,1.102010e+09,11104,2205.0,11100,11000,10000,2001,2000
26,1.102010e+09,11112,1000.0,11100,11000,10000,2001,2000
27,1.102010e+09,11115,100.0,11100,11000,10000,2001,2000
28,1.102010e+09,11117,110.0,11100,11000,10000,2001,2000
29,1.102010e+09,11201,600.0,11200,11000,10000,1001,1000
...,...,...,...,...,...,...,...,...
3286329,6.113340e+09,123107,3000.0,0,0,120000,5004,5000
3286330,6.113340e+09,123205,500.0,0,0,120000,5004,5000
3286331,6.113340e+09,123207,2000.0,0,0,120000,5004,5000
3286332,6.113340e+09,127006,9000.0,0,0,120000,5004,5000
3286333,6.113340e+09,127007,24000.0,0,0,120000,5004,5000

In [193]:
df1 = pd.DataFrame(df_slct[0:1000000])
#df2 = pd.DataFrame(df_slct[1000001:2000000])
#df3 = pd.DataFrame(df_slct[2000001:3000000])

In [194]:
number_of_row = 1000000

loop_count = int(len(df1) / number_of_row)

for cycle in range(loop_count):
    df1[cycle*number_of_row:(cycle+1)*number_of_row].to_excel('G:\IDM Downloads\data_in_stata\Stata_4abcde.xlsx'.format(cycle))

In [195]:
#df1 = pd.DataFrame(df_slct[0:1000000])
#df2 = pd.DataFrame(df_slct[1000001:2000000])
#df3 = pd.DataFrame(df_slct[2000001:3000000])

In [196]:
#df1.to_excel('Stata_4ae.xlsx', sheet_name='First Sheet')
#df2.to_excel('Stata_4ae.xlsx', sheet_name='Second Sheet')
#df3.to_excel('Stata_4ae.xlsx', sheet_name='Third Sheet')